<section id="inner-headline">

  <div class="container">

    <div class="row">

      <div class="col-lg-12">

        <h2 class="pageTitle">GROHE - {{title}}</h2>

      </div>

    </div>

  </div>

</section>

<div class="team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 item" *ngFor="let product of products">
        <img src="../../assets/images/grohe/{{category}}/{{product.name}}.png" class="img-fluid" alt="team">
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">{{product.name}}</span>
      </div>

    </div>
  </div>
</div>




<!-- Team section -->
<!--<div class="team" id="team">-->
  <!--<div class="container">-->
    <!--<h1 class="text-center">GROHE</h1>-->

    <!--<div class="row">-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->


          <!--<img src="../../assets/images/sensiaok.jpg" class="img-fluid" alt="team">-->
          <!--<div class="des">-->
            <!--GROHE-->
          <!--</div>-->

        <!--<span class="text-muted">SENSIA ARENA</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->
        <!--<img src="../../assets/images/euroceramicok.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--GROHE-->
        <!--</div>-->
        <!--<span class="text-muted">EURO CERAMIC</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->
        <!--<img src="../../assets/images/BAUCERAMIC.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--GROHE-->
        <!--</div>-->
        <!--<span class="text-muted">BAU CERAMIC</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item cust">-->
        <!--<img src="../../assets/images/BAUCERAMICWASHBASINOK.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--GROHE-->
        <!--</div>-->
        <!--<span class="text-muted">CERAMIC WASHBASIN</span>-->
      <!--</div>-->

    <!--</div>-->

    <!--<br/>-->

    <!--<div class="row">-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->


        <!--<img src="../../assets/images/allureBrilliant.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--GROHE-->
        <!--</div>-->

        <!--<span class="text-muted">ALLURE BRILLIANT</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->
        <!--<img src="../../assets/images/atrio.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--GROHE-->
        <!--</div>-->
        <!--<span class="text-muted">ATRIO</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->
        <!--<img src="../../assets/images/essenceNew.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--GROHE-->
        <!--</div>-->
        <!--<span class="text-muted">ESSENCE NEW</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item cust">-->
        <!--<img src="../../assets/images/eurodisccosmopolitan.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--GROHE-->
        <!--</div>-->
        <!--<span class="text-muted">Eurodisc Cosmopolitan</span>-->
      <!--</div>-->

    <!--</div>-->

    <!--<br/>-->
    <!--&lt;!&ndash;<p><h1>Showers</h1></p>&ndash;&gt;-->

    <!--<div class="row">-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->


        <!--<img src="../../assets/images/showersystem.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--GROHE-->
        <!--</div>-->

        <!--<span class="text-muted">Shower system</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->
        <!--<img src="../../assets/images/embeddedThermostaticok.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--GROHE-->
        <!--</div>-->
        <!--<span class="text-muted">2-way diverter</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->
        <!--<img src="../../assets/images/embeddedshowermixerok.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--GROHE-->
        <!--</div>-->
        <!--<span class="text-muted">Embedded shower mixer</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item cust">-->
        <!--<img src="../../assets/images/exposedthermostaticmixerok.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--GROHE-->
        <!--</div>-->
        <!--<span class="text-muted">Exposed thermostatic mixer</span>-->
      <!--</div>-->

    <!--</div>-->

  <!--</div>-->
<!--</div>-->
