<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/ilogoNew.jpg" style="width: 354px; height: 100px" >
  </a>
  <!--<div class="container">-->
    <!--<h2>Simple Collapsible</h2>-->
    <!--<p>Click on the button to toggle between showing and hiding content.</p>-->
    <!--<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>-->
    <!--<div id="demo" class="collapse">-->
      <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit,-->
      <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
      <!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
    <!--</div>-->
  <!--</div>-->

  <!--<button data-toggle="collapse" data-target="#navbarSupportedContent">Collapsible</button>-->

  <button (click)="toggleCollapse()" class="navbar-toggler navbar-toggler-right" type="button">
    <!--<span class="navbar-toggler-icon"></span>-->
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <!--<div id="demo" class="collapse" [class.show]="show">-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit,-->
    <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
    <!--quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
  <!--</div>-->


  <!--<div class="navbar navbar-fixed-top">-->

    <!--<div class="container">-->

      <!--<div class="navbar-header">-->

        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->

          <!--<span class="icon-bar"></span>-->

          <!--<span class="icon-bar"></span>-->

          <!--<span class="icon-bar"></span>-->

        <!--</button>-->

        <!--<a class="navbar-brand" href="index.html">-->
          <!--&lt;!&ndash;<img src="img/ilogo.jpg" style="width: 154px; height: 42px" alt="logo"/>&ndash;&gt;-->
          <!--<img src="../../assets/images/ilogoNew.jpg" style="width: 354px; height: 100px" >-->

        <!--</a>-->

      <!--</div>-->

      <!--<div class="navbar-collapse collapse ">-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="show">
        <!--<ul class="nav navbar-nav">-->
          <ul class="navbar-nav mr-4">

            <li class="nav-item">
              <a class="nav-link" data-value="about" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/brands">Products</a>
            </li>
            <!--<li class="nav-item">-->
              <!--<a class="nav-link" routerLink="/docks">Dock bumpers</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link " routerLink="/drainage">Drainage Systems</a>-->
            <!--</li>-->

            <li class="nav-item">
              <a class="nav-link " routerLink="/contact">Contact</a>
            </li>

        </ul>


      </div>

    <!--</div>-->

  <!--</div>-->

</nav>

  <!--<div class="navbar-wrapper">-->

    <!--<div class="container-fluid">-->

      <!--<nav class="navbar navbar-fixed-top">-->

        <!--<div class="container">-->

          <!--<div class="navbar-header">-->

            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->

              <!--<span class="sr-only">Toggle navigation</span>-->

              <!--<span class="icon-bar"></span>-->

              <!--<span class="icon-bar"></span>-->

              <!--<span class="icon-bar"></span>-->

            <!--</button>-->



            <!--<div class="brand_name">-->

              <!--&lt;!&ndash;<img src="img/ilogoNew.jpg" style="width: 354px; height: 92px" alt="logo"/>&ndash;&gt;-->
              <!--<img src="../../assets/images/ilogoNew.jpg" style="width: 354px; height: 100px"/>-->


            <!--</div>-->



          <!--</div>-->


          <!--<div id="navbar" class="navbar-collapse collapse">-->

            <!--<ul class="nav navbar-nav">-->

              <!--<li class="active"><a href="index.html">Home</a></li>-->

              <!--<li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown"-->
                                       <!--role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>-->


              <!--</li>-->



              <!--<li><a href="brands.html">brands</a></li>-->

              <!--<li><a href="products.html">Products</a></li>-->

              <!--<li><a href="shop.html">Shop</a></li>-->

              <!--<li><a href="contact.html">Contact</a></li>-->
            <!--</ul>-->


          <!--</div>-->

        <!--</div>-->

      <!--</nav>-->

    <!--</div>-->
  <!--</div>-->
