<footer>

  <div class="container">

    <div class="row">

      <div class="col-lg-6">

        <div class="widget">

          <h5 class="widgetheading">Our Contact</h5>

          <address>

            <!--   <strong>ITANI for building Materials and Trading s.a.r.l</strong><br>-->

            Street Mar Elias - Chahine Building<br>

            PO Box: 13-5889-Chouran Beirut-Lebanon

          </address>





          <p>

            <i class="icon-phone"></i>  Phone: 00961-1-311913 <br>



            <i class="icon-envelope2"></i>  Fax: 00961-1-311912 <br>

            <i class="icon-envelope">Email:  info@itaniformaterials.com</i>

          </p>

        </div>

      </div>

      <div class="col-lg-6">

        <div class="widget">

          <h5 class="widgetheading">Quick Links</h5>

          <ul class="link-list">

            <li><a routerLink="/brands">Products</a></li>

            <!--<li> <a routerLink="/docks">Dock bumpers</a></li>-->

            <!--<li> <a routerLink="/drainage">Drainage Systems</a></li>-->

            <li><a routerLink="/contact">Contact</a></li>

          </ul>

        </div>

      </div>


    </div>

  </div>


</footer>
