<section id="inner-headline">

  <div class="container">

    <div class="row">

      <div class="col-lg-12">

        <h2 class="pageTitle">GROHE PRODUCTS </h2>

      </div>

    </div>

  </div>

</section>

<!-- Team section -->
<div class="team" id="team">
  <div class="container">
    <!--<h1 class="text-center">GROHE Products</h1>-->

    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-12 item" [routerLink]="['/grohe', 'washbasin']">
        <img src="../../assets/images/category/washbasin.jpg" class="img-fluid" alt="team">
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">WASHBASIN</span>
      </div>



      <div class="col-lg-3 col-md-3 col-sm-12 item" [routerLink]="['/grohe', 'ceramic']">
        <img src="../../assets/images/category/ceramic.png" class="img-fluid" alt="team">
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">CERAMIC</span>
      </div>



      <div class="col-lg-3 col-md-3 col-sm-12 item" [routerLink]="['/grohe', 'aquasymphony']">
        <img src="../../assets/images/category/aquasymphony.png" class="img-fluid" alt="team">
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">AQUASYMPHONY</span>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 item cust" [routerLink]="['/grohe', 'jaccuzi']">
        <img src="../../assets/images/category/jaccuzi.png" class="img-fluid" alt="team">
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">JACCUZI</span>
      </div>

    </div>

    <br/>

    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-12 item" [routerLink]="['/grohe', 'bidet']">
        <img src="../../assets/images/category/bidet.png" class="img-fluid" alt="team">
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">BIDET</span>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 item" [routerLink]="['/grohe', 'kitchen']">
        <img src="../../assets/images/category/kitchen.jpg" class="img-fluid" alt="team">
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">KITCHEN</span>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 item" [routerLink]="['/grohe', 'wallplate']">
        <img src="../../assets/images/category/wallPlate.jpg" class="img-fluid" alt="team">
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">WALL PLATE</span>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 item cust" [routerLink]="['/grohe', 'uniset']">
        <img src="../../assets/images/category/uniset.png" class="img-fluid" alt="team">
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">UINSET</span>
      </div>

    </div>

    <br/>
    <!--<p><h1>Showers</h1></p>-->

    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-12 item" [routerLink]="['/grohe', 'triggerspray']">
        <img src="../../assets/images/category/triggerspray.jpg" class="img-fluid" alt="team">
        <div class="des">
          GROHE
        </div>

        <span class="text-muted">TRIGGER SPRAY</span>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 item" [routerLink]="['/grohe', 'accessories']">
        <img src="../../assets/images/category/accessories.jpg" class="img-fluid" alt="team">
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">ACCESSORIES</span>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 item" [routerLink]="['/grohe', 'sense']">
        <img src="../../assets/images/category/sense.png" class="img-fluid" alt="team" >
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">SENSE</span>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 item" [routerLink]="['/grohe', 'shower']">
        <img src="../../assets/images/category/shower.jpg" class="img-fluid" alt="team" >
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">SHOWER</span>
      </div>

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item cust">-->
        <!--<img src="../../assets/images/exposedthermostaticmixerok.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--GROHE-->
        <!--</div>-->
        <!--<span class="text-muted">Exposed thermostatic mixer</span>-->
      <!--</div>-->

    </div>

  </div>
</div>
