<!-- about section -->
<div class="about" id="about">
  <div class="container">
    <h1 class="text-center">About ITANI</h1>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <img src="images/team-3.jpg" class="img-fluid">
        <span class="text-justify">What We Do</span>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 desc">

        <!--<h3>D.John</h3>-->
        <p>
          ITANI is Lebanese leading producer of sanitary ware. The product range includes sanitary ware, bathtubs, shower trays, bathroom furniture, wall sections, special fittings for kindergartens, electronic urinal flushing systems, dry urinal technology and sanitary products.
          We supply styles of loading dock bumpers intended for use on loading docks, dock equipment, trucks, and within the warehouse or home. Choose from Laminated Bumpers, Extruded Bumpers, Molded Bumpers, or Steel Faced Bumpers.

        </p>
      </div>
    </div>
  </div>
</div>
