<section id="inner-headline">

  <div class="container">

    <div class="row">

      <div class="col-lg-12">

        <h2 class="pageTitle">AQG </h2>

      </div>

    </div>

  </div>

</section>

<div class="team" id="team">
  <div class="container">
    <div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 item" *ngFor="let hero of heroes">
    <img src="../../assets/images/aqgproducts/{{hero.name}}.jpg" class="img-fluid" alt="team">
    <div class="des">
      AQG
    </div>
    <span class="text-muted">{{hero.name}}</span>
  </div>

    </div>
  </div>
</div>



<!-- Team section -->
<!--<div class="team" id="team">-->
  <!--<div class="container">-->
    <!--&lt;!&ndash;<h1 class="text-center">COTALI</h1>&ndash;&gt;-->

    <!--<div class="row">-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->
        <!--<img src="../../assets/images/cotaliproduct/Angle%20Valve.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--COTALI-->
        <!--</div>-->

        <!--<span class="text-muted">Angle Valve</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->
        <!--<img src="../../assets/images/cotaliproduct/Cotali%20Chrome.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--COTALI-->
        <!--</div>-->
        <!--<span class="text-muted">Cotali Chrome</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->
        <!--<img src="../../assets/images/cotaliproduct/Cotali%20NYL%20satan.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--COTALI-->
        <!--</div>-->
        <!--<span class="text-muted">Cotali NYL satan</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item cust">-->
        <!--<img src="../../assets/images/cotaliproduct/Cotali%20Stainless.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--COTALI-->
        <!--</div>-->
        <!--<span class="text-muted">Cotali Stainless</span>-->
      <!--</div>-->

    <!--</div>-->

    <!--<br/>-->

    <!--<div class="row">-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->


        <!--<img src="../../assets/images/cotaliproduct/Drain.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--COTALI-->
        <!--</div>-->

        <!--<span class="text-muted">Drain</span>-->
      <!--</div>-->

      <!--<div class="col-lg-3 col-md-3 col-sm-12 item">-->
        <!--<img src="../../assets/images/cotaliproduct/Flexible%20Hose.jpg" class="img-fluid" alt="team">-->
        <!--<div class="des">-->
          <!--COTALI-->
        <!--</div>-->
        <!--<span class="text-muted">Flexible Hose</span>-->
      <!--</div>-->


    <!--</div>-->

    <!--<br/>-->
    <!--&lt;!&ndash;<p><h1>Showers</h1></p>&ndash;&gt;-->

  <!--</div>-->
<!--</div>-->
