.team .item img{
  width: 100%;
  height: 200px;
}

#inner-headline{background: #f92218;position: relative;margin: 0;margin-top:126px;padding: 0;}

#inner-headline h2.pageTitle{
  color: #FFFFFF;
  padding: 5px 0 5px 2px;
  text-align: left;
  display:block;
  font-size: 32px;
  font-weight: normal;
  position: relative;
}
#content {
  position:relative;
  /* background:#fff; */
  /*padding: 30px 30px 30px 30px;*/
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  /*line-height: 1.6em;*/
  color: #656565;
  background: #fff;
}

h1,h2, h3, h4, h5, h6 {
  font-family:'Open Sans', Arial, sans-serif;
  font-weight: normal;
  line-height:1.1em;
  color:#333;
  margin-bottom: 10px;
}
.hidden {
  display: none!important;
}

.form-control {
  display: block;
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  border-radius: 0;
}

.cta {
  background: #7700FF;
  border: none;
  color: white;

  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
  font-family: 'Montserrat';
}

agm-map {
  height: 400px;
}
