<!-- Team section -->
<div class="team" id="team">
  <div class="container">
    <h1 class="text-center">Brands</h1>

    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-12 item" routerLink="/category">
        <img src="../../assets/images/grohelogo.jpeg" class="img-fluid" alt="team">
        <div class="des">
          GROHE
        </div>
        <span class="text-muted">&nbsp;</span>
        </div>

      <div class="col-lg-3 col-md-3 col-sm-12 item" routerLink="/aqg">
        <img src="../../assets/images/aqglogo.jpeg" class="img-fluid" alt="team">
        <div class="des">
          AQG
        </div>
        <span class="text-muted">&nbsp;</span>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 item" routerLink="/cotali">
        <img src="../../assets/images/cotalilogo.jpeg" class="img-fluid" alt="team">
        <div class="des">
          COTALI
        </div>
        <span class="text-muted">&nbsp;</span>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12 item" routerLink="/ita">
        <img src="../../assets/images/ITAlogo.jpg" class="img-fluid" alt="team">
        <div class="des">
          ITA
        </div>
        <span class="text-muted">&nbsp;</span>
      </div>


      <div class="col-lg-3 col-md-3 col-sm-12 item" routerLink="/pedrollo">
      <img src="../../assets/images/pederlologo.jpeg" class="img-fluid" alt="team">
      <div class="des">
        PEDROLLO
      </div>
      <span class="text-muted">&nbsp;</span>
    </div>




    </div>


      </div>
</div>
