<!-- header -->
<!--<header class="header ">-->
  <!--<div>pppppppp</div>-->
  <!--&lt;!&ndash;<div class="overlay"></div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="description ">&ndash;&gt;-->
      <!--&lt;!&ndash;<h1>&ndash;&gt;-->
        <!--&lt;!&ndash;Hello ,Welcome to ITANI official Website&ndash;&gt;-->
        <!--&lt;!&ndash;<p>&ndash;&gt;-->
          <!--&lt;!&ndash;ITANI is Lebanese leading producer of sanitary ware.</p>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<button class="btn btn-outline-secondary btn-lg">See more</button>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;</h1>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</header>-->
<div class="row">
  <div class="col-lg-12">
    <video controls autoplay muted id="videoPlayer" style="width: 100%">
      <source src="../../assets/images/video1.mp4" type="video/mp4" />
    </video>
    <script>
      document.getElementById('videoPlayer').play();
    </script>
  </div>
</div>

<!--<div class="about aboutheader" id="about">-->
  <!--<div class="container">-->
<!--<div class="overlay">-->
<!--<div class="row">-->
  <!--<div class="col-lg-12 col-md-12 col-sm-12">-->
<!--Hello ,Welcome to ITANI official Website-->
  <!--<p>-->
    <!--ITANI is Lebanese leading producer of sanitary ware. The product range includes sanitary ware, bathtubs, shower trays, bathroom furniture, wall sections, special fittings for kindergartens, electronic urinal flushing systems, dry urinal technology and sanitary products.-->
    <!--We supply styles of loading dock bumpers intended for use on loading docks, dock equipment, trucks, and within the warehouse or home. Choose from Laminated Bumpers, Extruded Bumpers, Molded Bumpers, or Steel Faced Bumpers.-->

  <!--</p>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="about aboutheader" id="about">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="text-center">About ITANI</h1>
    <div class="row">

      <div class="col-lg-8 col-md-8 col-sm-12 desc">

        <!--<h3>D.John</h3>-->
        <p>
          ITANI is Lebanese leading producer of sanitary ware. The product range includes sanitary ware, bathtubs, shower trays, bathroom furniture, wall sections, special fittings for kindergartens, electronic urinal flushing systems, dry urinal technology and sanitary products.
          We supply styles of loading dock bumpers intended for use on loading docks, dock equipment, trucks, and within the warehouse or home. Choose from Laminated Bumpers, Extruded Bumpers, Molded Bumpers, or Steel Faced Bumpers.

        </p>
      </div>
    </div>
  </div>

</div>



<!-- Posts section -->
<div class="blog" id="blog">
  <div class="container">
    <!--<h1 class="text-center">Blog</h1>-->
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="../../assets/images/drainage1.jpg" class="img-fluid">
          </div>

          <div class="card-body">
            <h4 class="card-title">Drainage Systems</h4>
            <p class="card-text">
              The Surface Water Drainage System is a complete solution for the collection and dispersal of surface water.
            </p>
          </div>
          <div class="card-footer">
            <a routerLink="/drainage" class="card-link">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="../../assets/images/sanitry1.jpeg" class="img-fluid">
          </div>

          <div class="card-body">
            <h4 class="card-title">Sanitary</h4>
            <p class="card-text">

              We have International Agencies such as Grohe , AQG , CISA ,Pedrollo ,Plasmaks  , Berke  , Cotali

            </p>
          </div>
          <div class="card-footer">
            <a routerLink="/brands" class="card-link">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="../../assets/images/dock-bumpers.jpg" class="img-fluid">
          </div>

          <div class="card-body">
            <h4 class="card-title">Dock Bumpers</h4>
            <p class="card-text">

              We supply styles of loading dock bumpers intended for use on loading docks, dock equipment, trucks, and within the warehouse or home.

            </p>
          </div>
          <div class="card-footer">
            <a routerLink="/docks" class="card-link">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- portfolio -->
<!--<div class="portfolio" id="portfolio">-->
  <!--<h1 class="text-center">Portfolio</h1>-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
        <!--<img src="images/portfolio/port13.png" class="img-fluid">-->
      <!--</div>-->
      <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
        <!--<img src="images/portfolio/port1.png" class="img-fluid">-->
      <!--</div>-->
      <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
        <!--<img src="images/portfolio/port6.png" class="img-fluid">-->
      <!--</div>-->

      <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
        <!--<img src="images/portfolio/port3.png" class="img-fluid">-->
      <!--</div>-->
      <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
        <!--<img src="images/portfolio/port11.png" class="img-fluid">-->
      <!--</div>-->
      <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
        <!--<img src="images/portfolio/electric.png" class="img-fluid">-->
      <!--</div>-->

      <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
        <!--<img src="images/portfolio/Classic.jpg" class="img-fluid">-->
      <!--</div>-->
      <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
        <!--<img src="images/portfolio/port1.png" class="img-fluid">-->
      <!--</div>-->
      <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
        <!--<img src="images/portfolio/port8.png" class="img-fluid">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
