<section id="inner-headline">

  <div class="container">

    <div class="row">

      <div class="col-lg-12">

        <h2 class="pageTitle">Pedrollo </h2>

      </div>

    </div>

  </div>

</section>

<div class="blog" id="blog">
  <div class="container">
    <!--<h1 class="text-center">Blog</h1>-->
    <div class="row">

      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="../../assets/images/pedrollo1.jpg" class="img-fluid">
          </div>

          <div class="card-body">
            <h4 class="card-title">Pumps with peripheral impeller</h4>
            <p class="card-text">
            <span> Uses: domestic</span><br/>
              Applications: water supply systems, pressure systems, irrigation pumps
            </p>
          </div>
          <!--<div class="card-footer">-->
            <!--<a routerLink="/drainage" class="card-link">Read more</a>-->
          <!--</div>-->
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="../../assets/images/PKS.jpg" class="img-fluid">
          </div>

          <div class="card-body">
            <h4 class="card-title">Self-priming pumps with peripheral impeller</h4>
            <p class="card-text">
              <span> Uses: domestic</span><br/>
              Applications: water supply systems, pressure systems, irrigation pumps
            </p>
          </div>
          <!--<div class="card-footer">-->
          <!--<a routerLink="/drainage" class="card-link">Read more</a>-->
          <!--</div>-->
        </div>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="../../assets/images/PQ.jpg" class="img-fluid">
          </div>

          <div class="card-body">
            <h4 class="card-title">Pumps with peripheral impeller</h4>
            <p class="card-text">
              <span> Uses: domestic</span><br/>
              Applications: water supply systems, air conditioning systems, washing systems, pressure systems, cooling systems, ironing system, irrigation pumps
            </p>
          </div>
          <!--<div class="card-footer">-->
          <!--<a routerLink="/drainage" class="card-link">Read more</a>-->
          <!--</div>-->
        </div>
      </div>


      <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card">
          <div class="card-img">
            <img src="../../assets/images/PQ3000.jpg" class="img-fluid">
          </div>

          <div class="card-body">
            <h4 class="card-title">Pumps with peripheral impeller</h4>
            <p class="card-text">
              <span> Uses: domestic</span><br/>
              Applications: water supply systems, air conditioning systems, washing systems, pressure systems, cooling systems, ironing system, irrigation pumps
            </p>
          </div>
          <!--<div class="card-footer">-->
          <!--<a routerLink="/drainage" class="card-link">Read more</a>-->
          <!--</div>-->
        </div>
      </div>



    </div>
  </div>
</div>
